luminosity 35900
output zmumu_test4_052919.root
style cms

../../Analyze_Grid/zmumu_test3_052919/SingleMuon.root          Data.root

#../../Analyze_Grid/zmumu_test3_052919/DYJetsToLL_M-50_HT-0To70.root                    DY+Jets.root         5765.379995       0.924044       bg
../../Analyze_Grid/zmumu_test3_052919/DYJetsToLL_M-50_HT-100to200.root                    DYJetsToLL.root         213.4       1.000        bg
../../Analyze_Grid/zmumu_test3_052919/DYJetsToLL_M-50_HT-200to400.root                    DYJetsToLL.root         65.42       1.000        bg
../../Analyze_Grid/zmumu_test3_052919/DYJetsToLL_M-50_HT-400to600.root                    DYJetsToLL.root         7.31        1.000        bg
../../Analyze_Grid/zmumu_test3_052919/DYJetsToLL_M-50_HT-600to800.root                    DYJetsToLL.root         1.49        1.000        bg
../../Analyze_Grid/zmumu_test3_052919/DYJetsToLL_M-50_HT-800to1200.root                    DYJetsToLL.root         0.661        1.000        bg
../../Analyze_Grid/zmumu_test3_052919/DYJetsToLL_M-50_HT-1200to2500.root                  DYJetsToLL.root         0.119        1.000        bg
../../Analyze_Grid/zmumu_test3_052919/DYJetsToLL_M-50_HT-2500toInf.root                   DYJetsToLL.root         0.00280        1.000        bg

../../Analyze_Grid/zmumu_test3_052919/ST_t-channel_antitop_4f_inclusiveDecays.root     SingleTop.root   80.95   1.00   bg                                                                       
../../Analyze_Grid/zmumu_test3_052919/ST_t-channel_top_4f_inclusiveDecays.root         SingleTop.root   136.02  1.00   bg                                                                        
../../Analyze_Grid/zmumu_test3_052919/ST_tW_antitop_5f_inclusiveDecays.root            SingleTop.root   38.06    1.00   bg                                                                         
../../Analyze_Grid/zmumu_test3_052919/ST_tW_top_5f_inclusiveDecays.root                SingleTop.root   38.06    1.00   bg                                             
                                             
../../Analyze_Grid/zmumu_test3_052919/TT.root     t#bar{t}.root   831.59   1.00   bg                                                                                               

#../../Analyze_Grid/zmumu_test3_052919/WJetsToLNu_HT-0To70.root                    W+Jets.root      61526.5082      0.938426      bg                                                               
../../Analyze_Grid/zmumu_test3_052919/WJetsToLNu_HT-70To100.root                  W+Jets.root      1600.97582      1.000      bg                                                               
../../Analyze_Grid/zmumu_test3_052919/WJetsToLNu_HT-100To200.root                 W+Jets.root      1632.5341       1.000      bg                                                               
../../Analyze_Grid/zmumu_test3_052919/WJetsToLNu_HT-200To400.root                 W+Jets.root      436.59666       1.000      bg                                                               
../../Analyze_Grid/zmumu_test3_052919/WJetsToLNu_HT-400To600.root                 W+Jets.root      59.3659798      1.000      bg                                                               
../../Analyze_Grid/zmumu_test3_052919/WJetsToLNu_HT-600To800.root                 W+Jets.root      14.626049       1.000      bg                                                     

../../Analyze_Grid/zmumu_test3_052919/WW.root     VV.root   63.21           1.000      bg
../../Analyze_Grid/zmumu_test3_052919/WZ.root     VV.root   22.82           1.000      bg
../../Analyze_Grid/zmumu_test3_052919/ZZ.root     VV.root   10.32           1.000      bg

#../../Analyze_Grid/zp_trig_mu30met_11.07/zp_sigop_musoft__dilep_10.01.root	  VBF_dilep.root	   0.5		   0.99		 sig
