luminosity 35900
output Output.root
style cms

#2016 Data/MC

/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/alldata.root          Data.root


#/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/DYJetsToLL_M-5to50_HT-100to200.root             DY+Jets.root	224.20	1.00 bg
#/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/DYJetsToLL_M-5to50_HT-200to400.root             DY+Jets.root	37.200	1.00 bg
#/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/DYJetsToLL_M-5to50_HT-400to600.root             DY+Jets.root	3.5810	1.00 bg
#/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/DYJetsToLL_M-5to50_HT-600toInf.root             DY+Jets.root	1.1240	1.00 bg


/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/DYJetsToLL_M-50_HT-100to200.root           		  DY+Jets.root	213.4	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/DYJetsToLL_M-50_HT-200to400.root           		  DY+Jets.root	65.42	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/DYJetsToLL_M-50_HT-400to600.root           		  DY+Jets.root	7.31	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/DYJetsToLL_M-50_HT-600to800.root           		  DY+Jets.root	1.49	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/DYJetsToLL_M-50_HT-800to1200.root           	  DY+Jets.root	0.661	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/DYJetsToLL_M-50_HT-1200to2500.root           	  DY+Jets.root	0.119	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/DYJetsToLL_M-50_HT-2500toInf.root           	  DY+Jets.root	0.00280 1.00 bg

/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/ST_tW_antitop_5f_inclusiveDecays.root		SingleTop.root	38.06	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/ST_s-channel_4f_leptonDecays.root			SingleTop.root	3.68	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/ST_tW_top_5f_inclusiveDecays.root			SingleTop.root	38.06	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/ST_t-channel_antitop_4f_inclusiveDecays.root	SingleTop.root	80.95	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/ST_t-channel_top_4f_inclusiveDecays.root		SingleTop.root	136.02	1.00 bg


/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/TT.root						t#bar{t}.root	831.59	1.00 bg

/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WWTo2L2Nu.root		VV.root		10.48	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WWTo4Q.root			VV.root		51.723	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WWToLNuQQ.root		VV.root		43.530	1.00 bg

/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WZTo1L3Nu.root			VV.root		3.054	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WZTo1L1Nu2Q.root			VV.root		10.73	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WZTo3LNu.root			VV.root		4.43	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WZTo2L2Q.root			VV.root		5.606	1.00 bg

/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/ZZTo2L2Nu.root			VV.root		0.5644	1.00 bg	
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/ZZTo2L2Q.root			VV.root		3.222	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/ZZTo4L.root				VV.root		1.204	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/ZZTo2Q2Nu.root			VV.root		4.033	1.00 bg


/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WJetsToLNu_HT-100To200.root		W+Jets.root		1695	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WJetsToLNu_HT-200To400.root		W+Jets.root		532.4	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WJetsToLNu_HT-400To600.root		W+Jets.root		61.6	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WJetsToLNu_HT-600To800.root		W+Jets.root		12.4	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WJetsToLNu_HT-800To1200.root	W+Jets.root		5.77	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WJetsToLNu_HT-1200To2500.root	W+Jets.root		1.023	1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/WJetsToLNu_HT-2500ToInf.root	W+Jets.root		0.0248	1.00 bg


/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/QCD_HT100to200.root				QCD.root	27990000.00		1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/QCD_HT200to300.root				QCD.root	1559000.00		1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/QCD_HT300to500.root				QCD.root	315900.00		1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/QCD_HT500to700.root				QCD.root	29070.00		1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/QCD_HT700to1000.root			QCD.root	5962.00			1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/QCD_HT1000to1500.root			QCD.root	1005.00			1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/QCD_HT1500to2000.root			QCD.root	101.80			1.00 bg
/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/QCD_HT2000toInf.root			QCD.root	20.54			1.00 bg

 #/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/vbfhn_250GeV.root               highsig.root   0.0113177433104         1.00 sig
 #/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/vbfhn_750GeV.root               sevenhun.root  0.00186868757974        1.00 sig
 #/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/vbfhn_500GeV.root               fivehun.root   0.00399705119577        1.00 sig
 #/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/vbfhn_1p5TeV.root               lowsig.root    0.000307199059685       1.00 sig
 #/uscms/home/soubasis/nobackup/hold10111/CMSSW_10_1_11/src/Submission/Submission/OutputFilez/vbfhn_1TeV.root                 onetev.root    0.000971349109511       1.00 sig
