luminosity	35867			
output		output.root			
style		cms			
				
files/SingleMuon_TeV__data_2.root	    allData.root
files/SingleMuon_TeV__data_C.root           allData.root
files/SingleMuon_TeV__data_D.root           allData.root
files/SingleMuon_TeV__data_E.root           allData.root
files/SingleMuon_TeV__data_F.root           allData.root
files/SingleMuon_TeV__data_G.root           allData.root
files/SingleMuon_TeV__data_H.root           allData.root


#///files/QCD.root                                  QCD.root             -1               1      bg    1.0
files/QCD_HT50to100.root                            QCD.root          286700000.0        0.99    bg    1.0
files/QCD_HT100to200.root                           QCD.root          27990000.0         0.99    bg    1.0
files/QCD_HT200to300.root                           QCD.root          1559000.00         0.99    bg    1.0
files/QCD_HT300to500.root                           QCD.root          315900.00          0.99    bg    1.0
files/QCD_HT500to700.root                           QCD.root          29070.00           0.99    bg    1.0
files/QCD_HT700to1000.root                          QCD.root          5962.00            0.99    bg    1.0
files/QCD_HT1000to1500.root                         QCD.root          1005.00            0.99    bg    1.0
files/QCD_HT1500to2000.root                         QCD.root          101.00             0.99    bg    1.0
files/QCD_HT2000toInf.root                          QCD.root          20.54              0.99    bg    1.0

files/DYJetsToLL_M-50.root                          DY+Jets.root    5765.4          1.00            bg      0.99
files/DYJetsToLL_M-5to50_HT-70to100.root            DY+Jets.root    5765.4          1.00            bg      0.99
files/DYJetsToLL_M-5to50_HT-100to200.root           DY+Jets.root    213.4           1.00            bg      0.99
files/DYJetsToLL_M-5to50_HT-200to400.root           DY+Jets.root    65.42           1.031           bg      0.99
files/DYJetsToLL_M-5to50_HT-400to600.root           DY+Jets.root    7.31            1.008           bg      0.99
files/DYJetsToLL_M-50_HT-600to800.root              DY+Jets.root    1.49            1.00            bg      0.99
#files/DYJetsToLL_M-50_HT-600to800.root             DY+Jets.root    0.035           0.973           bg      0.95
files/DYJetsToLL_M-50_HT-800to1200.root             DY+Jets.root    0.661           1.00            bg      0.99
#files/DYJetsToLL_M-50_HT-1200to2500.root           DY+Jets.root    0.016           0.938           bg      0.95
files/DYJetsToLL_M-50_HT-1200to2500.root            DY+Jets.root    0.119           1.00            bg      0.99
files/DYJetsToLL_M-50_HT-2500toInf.root             DY+Jets.root    0.00280         1.00            bg      0.99

#files/DYJetsToLL_M-50.root			DY+Jets.root	5765.4		1.00		bg	0.95
#files/DYJetsToLL_M-200to400.root		DY+Jets.root	7.67		1.031		bg	0.95    
#files/DYJetsToLL_M-400to500.root		DY+Jets.root	0.423		1.008		bg	0.95
#files/DYJetsToLL_M-500to700.root		DY+Jets.root	0.24		0.996		bg	0.95
#files/DYJetsToLL_M-700to800.root		DY+Jets.root	0.035		0.973		bg	0.95
#files/DYJetsToLL_M-800to1000.root		DY+Jets.root	0.03		0.961		bg	0.95
#files/DYJetsToLL_M-1000to1500.root		DY+Jets.root	0.016		0.938		bg	0.95
#files/DYJetsToLL_M-1500to2000.root		DY+Jets.root	0.002		0.882		bg	0.95
#files/DYJetsToLL_M-2000to3000.root		DY+Jets.root	0.00054 	0.825		bg	0.95

#2016
files/TT.root                 			tt.root		831.56		0.998616	bg	0.91


files/WJetsToLNu.root     			W+Jets.root	6152.50  	0.9994204	bg	0.95
files/WJetsToLNu_HT-70To100.root		W+Jets.root	1695.97582	0.9951		bg	0.95
files/WJetsToLNu_HT-100To200.root		W+Jets.root	1345.5341	0.994154333	bg	0.95
files/WJetsToLNu_HT-200To400.root		W+Jets.root	436.596666	0.992918	bg	0.95
files/WJetsToLNu_HT-400To600.root		W+Jets.root	59.3659798	0.992141	bg	0.95
files/WJetsToLNu_HT-600To800.root		W+Jets.root	14.626049	0.9911245	bg	0.95
files/WJetsToLNu_HT-800To1200.root		W+Jets.root	6.67700378	0.9889135	bg	0.95
files/WJetsToLNu_HT-1200To2500.root		W+Jets.root	1.61311362	0.9829075	bg	0.95
files/WJetsToLNu_HT-2500ToInf.root		W+Jets.root	0.039035165	0.972729	bg	0.95

#2016
files/ST_s-channel_4f_leptonDecays.root              SingleTop.root  3.68       1.0      bg     1.0           
files/ST_t-channel_antitop_4f_inclusiveDecays.root   SingleTop.root  80.95      1.0      bg     1.0
files/ST_t-channel_top_4f_inclusiveDecays.root       SingleTop.root  136.02     1.0      bg     1.0
files/ST_tW_antitop_5f_inclusiveDecays.root          SingleTop.root  38.06      1.0      bg     1.0
files/ST_tW_top_5f_inclusiveDecays.root              SingleTop.root  38.06      1.0      bg     1.0



files/WWTo2L2Nu.root                    VV.root         10.48   1.00 bg
files/WWTo4Q.root                       VV.root         51.723  1.00 bg
files/WWToLNuQQ.root                    VV.root         43.530  1.00 bg

files/WZTo1L3Nu.root                    VV.root         3.054   1.00 bg
files/WZTo1L1Nu2Q.root                  VV.root         10.73   1.00 bg
files/WZTo3LNu.root                     VV.root         4.43    1.00 bg
files/WZTo2L2Q.root                     VV.root         5.606   1.00 bg

files/ZZTo2L2Nu.root                    VV.root         0.5644  1.00 bg
files/ZZTo2L2Q.root                     VV.root         3.222   1.00 bg
files/ZZTo4L.root                       VV.root         1.204   1.00 bg
files/ZZTo2Q2Nu.root                    VV.root         4.033   1.00 bg


#files/WW.root					VV.root		63.21		0.99426		bg	0.95

#files/WWToLNuQQ.root				 VV.root	 1.212		0.99426		bg	0.95
#files/WZTo2L2Q.root                              VV.root         5.595          0.99426         bg      0.95
#files/WZTo3LNu.root                              VV.root         4.708          0.99426         bg      0.95
#files/WZTo1L3Nu.root                             VV.root         3.05           0.99426         bg      0.95
#files/WZTo1L1Nu2Q.root                           VV.root         10.71          0.99426         bg      0.95

#files/ZZTo2L2Q.root                              VV.root         3.22		0.9947		bg	0.95
#files/ZZTo4L.root                                VV.root         1.256          0.9947          bg      0.95

#files/Zprime1500.root          Zprime1500.root        0.064790  0.90       sig   1.0
#files/Zprime2000.root          Zprime2000.root        0.015830  0.90       sig   1.0
#files/Zprime2500.root          Zprime2500.root        0.004684  0.90       sig   1.0
#files/Zprime3000.root          Zprime3000.root        0.001592  0.90       sig   1.0
#files/Zprime3500.root          Zprime3500.root        0.0005972 0.90       sig   1.0


